/* --- Base Element Styles ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*max-width: 1030px;*/
}

/*--- Base Layout Styles --*/
html {
    font-size: 100%;

}
body {
    font-family: 'Bree Serif', serif;
    color: white;
    background-color:#b1a296;
    hyphens: auto;
    text-align: center;
    font-size: 1.25rem;
}
header {
    background-color: #5d5c61;
}
html, body {
    height: 100%;
}

ul {
    list-style: none;
}
p{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    margin-left:2rem;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
h1 {
    font-size: 2.75rem;
    margin-top: 0;
    padding-top: 2rem;
}
h2 {
    font-size: 2rem;
    margin-top: 2rem;
}
h3 {
    text-align: center;
    margin-top: 1px;
}
img {
    max-width: 90%;
}
.main-img {
    max-width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-section {
    background-color: #5d5c61;
}
.contact-section p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-section h4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-section em {
    font-weight: bold;
    font-style: normal;
    margin-right: 1rem;
}
.contact-section h3{
    padding-top: 2rem;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
    background-color: #557a95;
}
.full {
    display: none;
}
.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #5d5c61;
    margin: 0 2rem;

}
.main-nav li {
    padding: 1rem;
    background-color: #557a95;
    width: 100%;
    margin-top: .3rem;
    margin-bottom: .3rem;

}
.div-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section {
    padding: 15px;
    width:90%
    
}

.h3 {
    margin: 2rem;
}
 /* ---Media Queries---*/
@media (min-width: 768px) {
    .section {
        width: 50%;
    
    }
    .top {
        display: none;
    }
    .full {
        display: inline-block;
        margin-left: 20px;
    }
    body .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main-nav li {
        background-color: #5d5c61;
        margin-bottom: 3rem;

    }
    .after-nav {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .after-nav .main-img {
        margin-right: 2rem;
    }
    h1 {
        margin-bottom: 2rem;
    }
    .div-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;}
    }


@media (min-width: 1024px) {
    .section {
        width:33%;
        min-width:337px;
    }
    
    .flexbox-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: auto;
        padding: 0 20px;
        height: 100px;
    }
    .flexbox-container ul {
        display: flex;
        flex-direction: row;
        flex-grow:1;
        align-self: flex-start;
        align-items: flex-end;
    }
    h1 {
        padding-top: 0;
    }
  
}